# Tuple

###`Q1:` Join Tuples if similar initial element
While working with Python tuples, we can have a problem in which we need to perform concatenation of records from the similarity of initial element. This problem can have applications in data domains such as Data Science.

For eg.
```
Input  : test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]
Output : [(5, 6, 7, 8), (6, 10), (7, 13)]
```

In [20]:
# List from which we need to make similar initial pattern
test_list = [(5, 6), (5, 7), (5, 8), (6, 10), (7, 13)]

# Initializing an empty list which will store unique initial elements
unique = []

# Running loop on list1 to first find out unique initial tuple elements
for i in test_list:
  if i[0] not in unique:
    unique.append(i[0])

# List which will contain answer tuples
ans = []

# Nested Loop to create similarity tuples
for i in unique:

  ls =  [i]

  for j in test_list:
    if i == j[0]:
      ls.append(j[1])

  ans.append(tuple(ls))

# Printing results
print(ans)

[(5, 6, 7, 8), (6, 10), (7, 13)]

###`Q2:` Multiply Adjacent elements (both side) and take sum of right and lest side multiplication result.


For eg.
```
The original tuple : (1, 5, 7, 8, 10)
Resultant tuple after multiplication :

(1*5, 1*5+5*7, 7*5 + 7*8, 8*7 + 8*10, 10*8) -> (5, 40, 91, 136, 80)

output-(5, 40, 91, 136, 80)
```

In [18]:
# Tuple whose multiplicant patten needs to be made
t = (1, 5, 7, 8, 10)

# Initializing answer list
ans = [t[0]*t[1]]

# Running loop on tuple to make middle pattern
for i in range(1,len(t)-1):
  ans.append(t[i]*t[i-1] + t[i]*t[i+1])

# Adding last element as separate calculation in list
ans.append(t[-1]*t[-2])

# Converting back list to tuple
ans = tuple(ans)

# Displaying result
print(ans)

(5, 40, 91, 136, 80)

###`Q3`: Check is tuples are same or not?
Two tuples would be same if both tuples have same element at same index
```
t1 = (1,2,3,0)
t2 = (0,1,2,3)

t1 and t2 are not same
```

In [16]:
# Tuples whose similarity needs to be checked
t1 = (1,2,3,0)
t2 = (0,1,2,3)

# Checking similarity
if t1 == t2:
  print("Tuples are same")

else:
  print("Tuples are not same")

Tuples are not same

###`Q4`: Count no of tuples, list and set from a list
```
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

```
`Output:`

```
List-2
Set-2
Tuples-1
```

In [15]:
# List from which we need to count other datatypes
list1 = [{'hi', 'bye'},{'Geeks', 'forGeeks'},('a', 'b'),['hi', 'bye'],['a', 'b']]

# Initializing count variables
lst = 0
st = 0
tup = 0

# Running loop on list1 to count data types
for i in list1:

  if type(i) == list:
    lst = lst + 1

  elif type(i) == set:
    st = st + 1

  elif type(i) == tuple:
    tup = tup + 1

# Displaying count of data types
print("List - ",lst)
print("Set - ",st)
print("Tuple - ",tup)

List -  2
Set -  2
Tuple -  1

###`Q5`: Shortlist Students for a Job role
Ask user to input students record and store in tuples for each record. Then Ask user to input three things he wants in the candidate- Primary Skill, Higher Education, Year of Graduation.

Show every students record in form of tuples if matches all required criteria.

It is assumed that there will be only one primry skill.

If no such candidate found, print `No such candidate`

`Input:`
```
Enter No of records- 2
Enter Details of student-1
Enter Student name- Manohar
Enter Higher Education- B.Tech
Enter Primary Skill- Python
Enter Year of Graduation- 2022
Enter Details of student-2
Enter Student name- Ponian
Enter Higher Education- B.Sc.
Enter Primary Skill- C++
Enter Year of Graduation- 2020

Enter Job Role Requirement
Enter Skill- Python
Enter Higher Education- B.Tech
Enter Year of Graduation- 2022
```

`Output`
```
('Manohar', 'B.tech', 'Python', '2022')
```

In [14]:
# Taking input from user for how many students entry needs to be done
no_of_students = int(input("Enter the number of records -> "))
print()
print("*"*50)
print()

# Maintaining a list which will hold up all the records
records = []

# Now running loop the number of times the students are there
for i in range(no_of_students):

  # Asking for details
  print("Enter details of student {}".format(i+1))
  print()

  name = input("Enter student name -> ")
  education = input("Enter higher education -> ")
  skill = input("Enter primary skill -> ")
  year = input("ENter Year of Graduation -> ")
  print()
  print("*"*50)
  print()
  # Storing record of each student in a tuple in records list
  records.append((name,education,skill,year))

# Asking for requirements for Job
print("Enter Job role requirement")
print()
skill = input("Enter skill - ")
education = input("Enter Higher Education - ")
Year = input("Enter Year of Education - ")

# Looping into records list to check if any student meets job requirement or not
flag = False
for i in records:

  if skill == i[2] and education == i[1] and Year == i[3]:
    flag = True
    print()
    print(i)

# Writing a flag condition if no student matches the requirement than raise a message
if flag == False:
  print("No student found for the desired requirements")

Enter the number of records -> 2

**************************************************

Enter details of student 1

Enter student name -> krishna
Enter higher education -> sabkuch
Enter primary skill -> sabkuch
ENter Year of Graduation -> infinite

**************************************************

Enter details of student 2

Enter student name -> nitin
Enter higher education -> mca
Enter primary skill -> datascience
ENter Year of Graduation -> 2022

**************************************************

Enter Job role requirement

Enter skill - sabkuch
Enter Higher Education - sabkuch
Enter Year of Education - infinite

('krishna', 'sabkuch', 'sabkuch', 'infinite')

# Set

###`Q1:` Write a program to find set of common elements in three lists using sets.
```
Input : ar1 = [1, 5, 10, 20, 40, 80]
        ar2 = [6, 7, 20, 80, 100]
        ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

Output : [80, 20]
```

In [7]:
# Lists which need to be intersected
ar1 = [1, 5, 10, 20, 40, 80]
ar2 = [6, 7, 20, 80, 100]
ar3 = [3, 4, 15, 20, 30, 70, 80, 120]

# Perforning intersection operations
ar1 = set(ar1) & set(ar2)
ar1 = set(ar1) & set(ar3)

# Converting back answer to list
ar1 = list(ar1)

# Printing the answer
print("Union Result -> ",ar1)

Union Result ->  [80, 20]

###`Q2:` Write a program to count unique number of vowels using sets in a given string. Lowercase and upercase vowels will be taken as different.

`Input:`
```
Str1 = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
```
`Output:`
```
No of unique vowels-6
```

In [4]:
# String from which we need to find out all the vowels
st = "hands-on data science mentorship progrAm with live classes at affordable fee only on CampusX"
vowel = 'aeiouAEIOU'
count = 0

# Converting string into a set so that we get all the unique elements
a = set(st)

# Looping on the set so that we can get count of vowels
for i in a:
  if i in vowel:
    count = count + 1

# Printing no of vowels in answer
print("No of vowels -> ",count)

No of vowels ->  6

### `Q3:` Write a program to Check if a given string is binary string of or not.

A string is said to be binary if it's consists of only two unique characters.

Take string input from user.

```
Input: str = "01010101010"
Output: Yes

Input: str = "1222211"
Output: Yes

Input: str = "Campusx"
Output: No
```

In [3]:
# Input string which needs to be checked for binary test
st = '01010101010'

# Converting string into set so that we get all the unique elements
ans = set(st)

# Checking whether the string is binary or not
if len(ans) == 2:
  print("Binary String")

else:
  print("Not a Binary String")

Binary String

### `Q4`: find union of n arrays.

**Example 1:**

Input:
```bash
[[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]
```

Output:

```bash
[1, 2, 3, 4, 5, 6, 7, 9]
```

In [2]:
# Input list upon which we need to perform union
s = [[1, 2, 2, 4, 3, 6],
 [5, 1, 3, 4],
 [9, 5, 7, 1],
 [2, 4, 1, 3]]

# It's better to first convert 2D list into 2D set
s = [set(i) for i in s]
ans = s[0]

# Now looping on 2D list in order to performing union operation
for i in range(1,len(s)):
  ans = ans | s[i]

# Converting it to list as during union we conberted list into set
ans = list(ans)

# Printing answer
print(ans)

[1, 2, 3, 4, 5, 6, 7, 9]

### `Q5`: Intersection of two lists. Intersection of two list means we need to take all those elements which are common to both of the initial lists and store them into another list. Only use using **list-comprehension**.

**Example 1:**

Input:
```bash
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}
```

Output:
```bash
[9, 10, 4, 5]
```

**Example 2:**

Input:
```bash
lst1 = {4, 9, 1, 17, 11, 26, 28, 54, 69}
lst2 = {9, 9, 74, 21, 45, 11, 63, 28, 26}
```

Output:
```bash
[9, 11, 26, 28]
```

In [ ]:
# Sets which needed to be intersected
lst1 = {15, 9, 10, 56, 23, 78, 5, 4, 9}
lst2 = {9, 4, 5, 36, 47, 26, 10, 45, 87}

# Calculating intersection of both the sets and then converting them to lists
ans = list(lst1 & lst2)

# Displaying the output
print(ans)

[9, 10, 4, 5]

# Dictionary

### `Q1`: Key with maximum unique values

Given a dictionary with values list, extract key whose value has most unique values.

**Example 1:**

Input:

```bash
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
CampusX
```

**Example 2:**

Input:
```bash
test_dict = {"CampusX" : [5, 7, 7, 7, 7], "is" : [6, 7, 7, 7], "Best" : [9, 9, 6, 5, 5]}
```

Output:
```bash
Best
```

In [ ]:
# Dictionary which we have to sort according to no. of unique elements of keys
test_dict = {"CampusX" : [5, 7, 9, 4, 0], "is" : [6, 7, 4, 3, 3], "Best" : [9, 9, 6, 5, 5]}

# Creating a separate dictionary which will record no of unique values for each key
test = {}

# Running loop so to access each key and it's value and then creating test dictionary
for i in test_dict:
  uniq = []
  for j in test_dict[i]:
    if j not in uniq:
      uniq.append(j)
  test[i] = len(uniq)

# After getting test dictionary now we need to sort it on the basis of values and getting the answer
sorted(test,key=lambda x:test[x],reverse=True)[0]

'CampusX'

### `Q2`: Replace words from Dictionary. Given String, replace it’s words from lookup dictionary.

**Example 1:**

Input:

```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}
```

Output:

```bash
CampusX is the best channel for Data-Science students.
```

**Example 2:**

Input:
```bash
test_str = 'CampusX best for DS students.'
repl_dict = {"good" : "is the best channel", "ds" : "Data-Science"}
```

Output:
```bash
CampusX best for DS students.
```

In [ ]:
# Input sentence and dictionary
test_str = 'CampusX best for DS students.'
repl_dict = {"best" : "is the best channel", "DS" : "Data-Science"}

# Running loop on dictionary
for i in repl_dict:
  if i in test_str.split():

    # Now the key exists in sentence we need to replace word in sentence with key's value
    test_str = test_str.replace(i,repl_dict[i])

# Printing updated result
print("Updated sentence -> ",test_str)

Updated sentence ->  CampusX is the best channel for Data-Science students.

### `Q3`: Convert List to List of dictionaries. Given list values and keys list, convert these values to key value pairs in form of list of dictionaries.

**Example 1:**

Input:
```bash
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]
```

**Example 2:**

Input:
```bash
test_list = ["CampusX", 10]
key_list = ["name", "id"]
```

Output:

```bash
[{'name': 'CampusX', 'id': 10}]
```

In [ ]:
# Lists from which we need to create dictionaries
test_list = ["DataScience", 3, "is", 8]
key_list = ["name", "id"]

# Findind answer using comprehensions
output = [{key: value for key, value in zip(key_list, test_list[i:i+2])} for i in range(0, len(test_list), 2)]

# Displaying answer
print(output)

[{'name': 'DataScience', 'id': 3}, {'name': 'is', 'id': 8}]

### `Q4`: Convert a list of Tuples into Dictionary.

**Example 1:**

Input:
```bash
[("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]
```

Output:
```bash
{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}
```

**Example 2:**

Input:
```bash
[('A', 1), ('B', 2), ('C', 3)]
```

Output:
```bash
{'A': [1], 'B': [2], 'C': [3]}
```

In [ ]:
# List that needs to be converted to dictionary
s = [("akash", 10), ("gaurav", 12), ("anand", 14), ("suraj", 20), ("akhil", 25), ("ashish", 30)]

# Converting list to string
s = {i[0]:[i[1]] for i in s}

# Displaying converted dictionary
print(s)

{'akash': [10], 'gaurav': [12], 'anand': [14], 'suraj': [20], 'akhil': [25], 'ashish': [30]}

### `Q5`: Sort Dictionary key and values List.

**Example 1:**

Input:

```bash
{'c': [3], 'b': [12, 10], 'a': [19, 4]}
```

Output:

```bash
{'a': [4, 19], 'b': [10, 12], 'c': [3]}
```

**Example 2:**

Input:

```bash
{'c': [10, 34, 3]}
```

Output:

```bash
{'c': [3, 10, 34]}
```

In [ ]:
# Dictionary which needs to be sorted
t = {'c': [3], 'b': [12, 10], 'a': [19, 4]}

# sorting the dictionary
ans = {i:sorted(t[i]) for i in sorted(t)}

# Displaying the answer
print(ans)

{'a': [4, 19], 'b': [10, 12], 'c': [3]}