### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [4]:
# Taking salary as input
salary = int(input("Enter the salary of user : "))
tax = None

# Calculating tax % according salary
if salary < 5:
  tax = 0
elif salary >= 5 and salary < 10:
  tax = 10
elif salary >= 10 and salary < 20:
  tax = 20
else:
  tax = 30

# Printing total inhand salary
print("Your total inhand salary would be -> ",round(salary - ((18+tax)/100 * salary),2))

Enter the salary of user : 87
Your total inhand salary would be ->  45.24

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [5]:
# Taking user input for angles
angle1 = int(input("Enter angle 1 : "))
angle2 = int(input("Enter angle 2 : "))
angle3 = int(input("Enter angle 3 : "))

# Checking whether valid triangle or not
if angle1 > 0 and angle2 > 0 and angle3 > 0 and (angle1 + angle2 + angle3)  == 180:
  print("This is a valid triangle")
else:
  print("This is not a valid triangle")

Enter angle 1 : 45
Enter angle 2 : 45
Enter angle 3 : 90
This is a valid triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [6]:
# Taking cost_price and selling_price as input from user
cost_price = int(input("Enter cost_price : "))
selling_price = int(input("Enter selling_price : "))

# Checking for loss or profit
if selling_price - cost_price > 0:
  print("Profit")
elif selling_price - cost_price < 0:
  print("Loss")
else:
  print("Neither Loss Nor Profit")

Enter cost_price : 45
Enter selling_price : 90
Profit

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [7]:
# Writing a menu driven code
choice = input("""
              1. cm to ft
              2. km to miles
              3. USD to INR
              4. exit
               """)

# Coding if/else to meet user choice
if choice == '1':
  cm = int(input("Enter value in cm : "))
  print("Value in ft is : ",cm*0.06)

elif choice == '2':
  km = int(input("Enter value in km : "))
  print("Value in miles is : ",km*0.6)

elif choice == '3':
  usd = int(input("Enter value in USD : "))
  print("Value in INR is : ",usd*82)

elif choice == '4':
  exit()

              1. cm to ft
              2. km to miles
              3. USD to INR
              4. exit
               2
Enter value in km : 45
Value in miles is :  27.0

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [9]:
# Coding Fibonacci Series
# Initializing first two values from which series will be made
a = 0
b = 1

# Taking user input till what element index user wants to print fibonacci series
n = int(input("Enter the value of n : "))

# Printing initial elements
print(a,end=" ")
print(b,end=" ")

# Running a loop to print rest of the elements of fibonacci series
for i in range(2,n+1):
  a,b = b,a+b
  print(b,end=" ")

Enter the value of n : 10
0 1 1 2 3 5 8 13 21 34 55

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [12]:
# Taking user input for which factorial needs to be calculated
n = int(input("Enter the number -> "))
fact = 1

# Running a loop to find factorial
for i in range(1,n+1):
  fact = fact * i

# Displaying the factorial
print(fact)

Enter the number -> 20
2432902008176640000

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [14]:
# Taking number as user_input
num = int(input("Enter number : "))
rev = 0

# Reversing number through running loop
while num != 0:
  n = num%10
  rev = rev*10 + n
  num = num // 10

# Displaying the reversed number
print("Reversed number -> ",rev)

Enter number : 97531
Reversed number ->  13579

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [15]:
# Taking user input for value of N
n = int(input("Enter the value of n -> "))
sum =  0

# Running loop to calculate sum
for i in range(1,n+1):
  if i%5 == 0:
    continue

  sum = sum + i

  if sum > 300:
    break

# Displaying Sum
print("Sum -> ",sum)

Enter the value of n -> 89
Sum ->  303

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [18]:
# Initializing sum and count variables
sum = 0
count = 0

# Taking initial element as input from user
n = int(input("Enter initial number -> "))

# Running a loop until user enters zero to find sum and average
while n != 0:

  sum = sum + n
  count = count + 1

  n = int(input("Enter number another time -> "))

# Displaying overall sum and average
print("Sum -> ",sum)
print("Average -> ",sum/count)

Enter initial number -> 34
Enter number another time -> 54
Enter number another time -> 65
Enter number another time -> 87
Enter number another time -> 34
Enter number another time -> 2
Enter number another time -> 75
Enter number another time -> 43
Enter number another time -> 0
Sum ->  394
Average ->  49.25

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [20]:
# Running a loop from 2000 to 3200 and simultenously printing numbers meeting criteria comma separated
for i in range(2000,3201):
  if i%7 == 0 and i%5 != 0:
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [22]:
# Running a loop b/w 1000 to 3000 to check elements with all digits even
for i in range(1000,3001):

  num = i
  # Running another loop to check whether all elements of this number are even or not
  while num != 0:
    n = num%10
    if n%2 != 0:
      break
    num = num // 10

  else:
    print(i,end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [27]:
# Initially our robot is at origin so its x and y cordinates are also 0
x = 0
y = 0

# Taking user first move
move = input("""
              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             """)
# Running a loop until user enters 5 to exit
while move != '5':

  if move == '1':
    up = int(input("Enter UP distance : "))
    y = y + up

  elif move == '2':
    down = int(input("Enter DOWN distance : "))
    y = y - down

  elif move == '3':
    left = int(input("Enter LEFT distance : "))
    x = x - left

  elif move == '4':
    right = int(input("Enter RIGHT distance : "))
    x = x + right

  # Again asking the user move
  move = input("""
              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             """)
# Displaying robot current position after all the moves

print("After moving all the moves the current position of robot is -> ({x,y})",x,y)

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             2
Enter DOWN distance : 2

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             88

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             4
Enter RIGHT distance : 78

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. exit
             5
After moving all the moves the current position of robot is -> ({x,y}) 78 -2

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [28]:
# Taking number as input from user
n = int(input("Enter the value of n : "))

# Running a loop to check whether it is a prime number or not
for i in range(2,n):
  if n%i == 0:
    print("Non Prime Number")
    break

else:
  print("Prime number")

Enter the value of n : 31
Prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [30]:
# Taking lower and upper range values
lower_range = int(input("Enter the lower range value : "))
upper_range = int(input("Enter the upper range value : "))

# Running for loop to find all the armstrong numbers in the given range
for i in range(lower_range,upper_range+1):

  # Running another loop to check whether a particular number inside loop is armstrong number or not
  sum = 0
  num = i
  while num!=0:
    n = num % 10
    sum = sum + n**3
    num = num // 10

  if i == sum:
    print(i,end=" ")

Enter the lower range value : 0
Enter the upper range value : 1000
0 1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [31]:
# Taking user input for hour value and minute value
hour = int(input("Enter hour value -> "))
minute = int(input("Enter minute value -> "))

# Calculating angle b/w hour and minute hand using direct formula
angle = (30*hour) - (11/2)*minute

# Displaying angle b/w hour and minute hand
print("Angle b/w hour and minute hand is -> ",angle)

Enter hour value -> 5
Enter minute value -> 12
Angle b/w hour and minute hand is ->  84.0

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [32]:
# Getting the coordinate value for extreme ends of both the triangles
l1_x = int(input("Enter the value of l1_x"))
l1_y = int(input("Enter the value of l1_y"))
r1_x = int(input("Enter the value of r1_x"))
r1_y = int(input("Enter the value of r1_y"))
l2_x = int(input("Enter the value of l2_x"))
l2_y = int(input("Enter the value of l2_y"))
r2_x = int(input("Enter the value of r2_x"))
r2_y = int(input("Enter the value of r2_y"))

# Checking if the rectangles overlap or not
if r1_y > l2_y or r2_y > l1_y:
  print("Not overlapping")

elif r1_x < l2_x or r2_x < l1_x:
  print("Not overlapping")

else:
  print("Overlapping")

Enter the value of l1_x23
Enter the value of l1_y34
Enter the value of r1_x12
Enter the value of r1_y13
Enter the value of l2_x15
Enter the value of l2_y3
Enter the value of r2_x56
Enter the value of r2_y54
Not overlapping