### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [3]:
# Taking salaey as input from user in lacs
salary = int(input("Enter your salary in lacs : "))
overall_deduction_percentage = 18

# Running conditions for selecting tax percentage
if salary < 0:
  print("You have entered invalid salary")
else:
  if salary < 5:
    overall_deduction_percentage += 0

  elif salary >=5 and salary < 10:
    overall_deduction_percentage += 10

  elif salary >=10 and salary < 20:
    overall_deduction_percentage += 20

  else:
    overall_deduction_percentage += 30

# Now calculating overall deduction in salary
print("Overall deduction in salary will be -> ",round(((overall_deduction_percentage/100)*salary),2))

Enter your salary in lacs : 6
Overall deduction in salary will be ->  1.68

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [5]:
# Taking angles of triangle from user
angle1 = int(input("Enter angle 1 : "))
angle2 = int(input("Enter angle 2 : "))
angle3 = int(input("Enter angle 3 : "))

# Valindating triangle
if angle1 > 0 and angle2 > 0 and angle3 > 0 and (angle1 + angle2 + angle3 == 180):
  print("This is a valid triangle")
else:
  print("This is not a valid triangle")

Enter angle 1 : 23
Enter angle 2 : 44
Enter angle 3 : 2
This is not a valid triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [8]:
# Taking user input of cost price and selling price
cost_price = int(input("Enter cost price of product"))
selling_price = int(input("Enter selling price of product"))
print()

# Checking profit or loss
if selling_price - cost_price > 0:
  print("Congratulations you have gained profit of ",selling_price - cost_price)

else:
  print("Sorry you are in loss of ",cost_price - selling_price)

Enter cost price of product4500
Enter selling price of product10000

Congratulations you have gained profit of  5500

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [9]:
# Creating menu and simultaneously taking input
option = input("""
              Tell your conversion
              1. cm to ft
              2. km to miles
              3. USD to INR
              4. exit
               """)

# Doing calculations according to users choice
if option == "1":
  cm = float(input("Enter value in cm : "))
  print("value in ft is -> ",cm*0.03)

elif option == "2":
  km = float(input("Enter value in km : "))
  print("Value in miles is -> ",km*0.62)

elif option == "3":
  USD = float(input("Enter amount in USD : "))
  print("Value in INR is -> ",USD*82)
else:
  exit()

              Tell your conversion
              1. cm to ft
              2. km to miles
              3. USD to INR
              4. exit
               3
Enter amount in USD : 40000
Value in INR is ->  3280000.0

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [13]:
# Calculating Fibonacci Series
a = 0
b = 1
print(a,end=" ")
print(b,end=" ")
for i in range(3,10):
  a,b = b,a+b
  print(b,end=" ")

0 1 1 2 3 5 8 13 21

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [14]:
# Taking input of the number whose factorial is to be calculated
n = int(input("Enter the value of n : "))

# Calculating factorial
fact = 1
for i in range(1,n+1):
  fact*=i

# Displaying factorial of n
print("Factorial of n is -> ",fact)

Enter the value of n : 6
Factorial of n is ->  720

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [15]:
# Taking number as input from user
n = int(input("Enter the value of n : "))
rev = 0

# Reversing number
while n!=0:
  a = n%10
  rev = rev*10 + a
  n//=10

# Displaying reversed number
print("Number after reverse is -> ",rev)

Enter the value of n : 76542
Number after reverse is ->  24567

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [19]:
# Enter the value of N
N = int(input("Enter the value of N : "))
sum = 0

#Calculating Sum
for i in range(1,N):
  if i%5 == 0:
    continue

  sum+=i
  if sum > 300:
    break

print("Sum is -> ",sum)

Enter the value of N : 1
Sum is ->  0

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [20]:
# Taking initial user input
n = int(input("Enter a number : "))
sum = 0
count = 0

# Running the loop until user enters 0
while n!=0:
  sum+= n
  count+=1
  n = int(input("Enter number again : "))

#Displaying results
print("Sum is -> ",sum)
print("Average of sum is -> ",sum/count)

Enter a number : 25
Enter number again : 56
Enter number again : 34
Enter number again : 22
Enter number again : 12
Enter number again : 0
Sum is ->  149
Average of sum is ->  29.8

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [21]:
# Calculating numbers
for i in range(2000,3201):
  if i%7 == 0 and i%5 !=0:
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [24]:
# Running loop from 1000 to 3000
for i in range(1000,3001):

  # Raise a flag value to check the desired output

  flag = True
  num = i

  # Now for each no we will check that each individual number of a number is an even number or not
  while i != 0:

    n = i%10

    if n%2 != 0:
      flag = False
      break

    i//=10

  # Checking whether the number is of the desired format or not
  if flag == True:
    print(num,end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [30]:
# We assume that initially coordinates are (0,0)
x = 0
y = 0

option = input("""
              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               """)


# Running loop so that user can takes multiple steps until user enters to stop
while option != '5':

  if option == '1':
    inc = int(input("Enter UP distance : "))
    y+=inc

  elif option == '2':
    inc = int(input("Enter DOWN distance : "))
    y-=inc

  elif option == '3':
    inc = int(input("Enter LEFT distance : "))
    x-=inc

  elif option == '4':
    inc = int(input("Enter RIGHT distance : "))
    x+=inc

  elif option == '5':
    exit()

  # Again we need to ask user to take another move
  option = input("""
              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               """)
print("You are currently at ({},{})".format(x,y))

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               1
Enter UP distance : 4

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               3
Enter LEFT distance : 4

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               2
Enter DOWN distance : 8

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               4
Enter RIGHT distance : 20

              1. UP
              2. DOWN
              3. LEFT
              4. RIGHT
              5. Press anything to exit
               5
You are currently at (16,-4)

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [33]:
# Taking number as input from user whose prime test we need to perform
n = int(input("Enter a number : "))

# Running a loop in the range 2 to n-1 whether given number is divisible by any other number or not
for i in range( 2 , n-1):

  if n%i == 0:
    print("Given Number is not prime number")
    break

else:
  print("Given number is a prime number")

Enter a number : 28
Given Number is not prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [36]:
# Taking range values from user as input
lower_range = int(input("Enter range lower value : "))
upper_range = int(input("Enter range upper value : "))

# Calculating all armstrong numbers in the given range
for i in range(lower_range,upper_range+1):

  # For every value of i checking whether i is a armstrong number or not
  number = i
  sum = 0
  while i != 0:
    n = i%10
    sum = sum + n**3
    i//=10
  if sum == number:
    print(number,end=" ")

Enter range lower value : 0
Enter range upper value : 500
0 1 153 370 371 407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [38]:
def calculate_clock_angle(hour, minutes):
    # Validate the input
    if hour < 0 or hour > 12 or minutes < 0 or minutes > 60:
        raise ValueError("Invalid input. Hour should be between 0 and 12, and minutes between 0 and 60.")

    # Calculate the angle between the hour hand and minute hand
    angle = abs((30 * hour - (11 / 2) * minutes) % 360)

    # Return the angle
    return angle

# Test the function
hour = int(input("Enter the hour (0 to 12): "))
minutes = int(input("Enter the minutes (0 to 60): "))

angle = calculate_clock_angle(hour, minutes)
print(f"The angle between the hour hand and minute hand is {angle} degrees.")
5

Enter the hour (0 to 12): 4
Enter the minutes (0 to 60): 6
The angle between the hour hand and minute hand is 87.0 degrees.

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [39]:
def do_rectangles_overlap(L1, R1, L2, R2):
    # L1 and R1 are the extreme points of the first rectangle
    # L2 and R2 are the extreme points of the second rectangle

    # Check if either rectangle is to the left of the other
    if R1[0] < L2[0] or R2[0] < L1[0]:
        return False

    # Check if one rectangle is completely above the other
    if R1[1] > L2[1] or R2[1] > L1[1]:
        return False

    # If the rectangles are not separated by the above conditions, they overlap
    return True

# Test the function
# Example: Rectangle 1: Top-left (1, 5), Bottom-right (7, 1)
#          Rectangle 2: Top-left (4, 8), Bottom-right (10, 4)
L1 = (1, 5)
R1 = (7, 1)
L2 = (4, 8)
R2 = (10, 4)

if do_rectangles_overlap(L1, R1, L2, R2):
    print("The rectangles overlap.")
else:
    print("The rectangles do not overlap.")

The rectangles overlap.