###`Problem 1:` Combine two lists index-wise(columns wise)

Write a program to add two lists index-wise. Create a new list that contains the 0th index item from both the list, then the 1st index item, and so on till the last element. any leftover items will get added at the end of the new list.

`Given List:`
```
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]
```

`Output:`
```
[['M','y'], ['na', me'], ['i', 's'], ['Kh', 'an']]
```

In [1]:
# Lists from which we are going to create comprehensioned list
list1 = ["M", "na", "i", "Kh"]
list2 = ["y", "me", "s", "an"]

#Applying list comprehension to get desired output
ans = [[i,j] for i,j in zip(list1,list2)]

# Print answer
print("Desired output -> ",ans)

Desired output ->  [['M', 'y'], ['na', 'me'], ['i', 's'], ['Kh', 'an']]

### `Problem 2:` Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List
```
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
```
`Output:`
```
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
```

In [2]:
# List in which we need to make a change
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

# Applying change
list1[2].append(7000)

# Displaying change
print(list1)

[10, 20, [300, 400, [5000, 6000], 500, 7000], 30, 40]

###`Problem 3:` Update no of items available

Suppose you are given a list of candy and another list of same size representing no of items of respective candy.

i.e -  
```
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]
```

Write a program to show no. of items of each candy type.

`Output:`

```
Jelly Belly-10
Kit Kat-20
Double Bubble-34
Milky Way-74
Three Musketeers-32

```

In [3]:
# Lists from which we will create pattern of stock
candy_list = ['Jelly Belly','Kit Kat','Double Bubble','Milky Way','Three Musketeers']
no_of_items = [10,20,34,74,32]

# Printing pattern
for i,j in zip(candy_list,no_of_items):
  print(i,"-",j)

Jelly Belly - 10
Kit Kat - 20
Double Bubble - 34
Milky Way - 74
Three Musketeers - 32

###`Problem 4:` Running Sum on list
Write a program to print a list after performing running sum on it.

i.e:

`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,3,6,10,15,21]
```

In [4]:
# List from which we are going to create running sum list
ls = [1,2,3,4,5,6]
sum = 0
ans = []

# Creating running sum list by looping through list
for i in ls:
  sum = sum + i
  ans.append(sum)

# Printing desired list
print(ans)

[1, 3, 6, 10, 15, 21]

###`Problem 5:` You are given a list of integers. You are asked to make a list by running through elements of the list by adding all elements greater and itself.

i.e. Say given list is `[2,4,6,10,1]`
resultant list will be `[22,20,10,23]`.

For 1st element `2` ->> these are greater `(4+6+10)` values and `2` itself so on adding becomes `22`.

For 2nd element `4` ->> greater elements are `(6, 10)` and `4` itself, so on adding `20`

like wise for all other elememts.

`[2,4,6,10,1]`-->`[22,20,16,10,23]`

In [6]:
# List from which we are going to create desires output
ls = [2,4,6,10,1]

# Initializing empty list for output ans
ans = []

# Running through loop for calculating sum for a particular index
for i in range(len(ls)):

  sum = ls[i]

  # Running loop for ahead elements from ith index in outer loop
  for j in range(i+1,len(ls)):
    if ls[j] > ls[i]:
      sum = sum + ls[j]

  ans.append(sum)

# Displaying final result
print("Output -> ",ans)

Output ->  [22, 20, 16, 10, 1]

###`Problem 6:` Find list of common unique items from two list. and show in increasing order

`Input`

```
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]
```

`Output:`
```
[34, 67, 89]
```

In [10]:
# Lists from which we need to find commno items
num1 = [23,45,67,78,89,34]
num2 = [34,89,55,56,39,67]

# Initializing empty list in which we will store out answers
unique = []

# Running loop in list1 to find common elements
for i in num1:
  if i in num2 and i not in unique:
    unique.append(i)

unique.sort()
# Displaying the answer having common elements from both the list
print("Common list -> ",unique)

Common list ->  [34, 67, 89]

###`Problem 7:` Sort a list of alphanumeric strings based on product value of numeric character in it. If in any string there is no numeric character take it's product value as 1.

`Input:`
```
['1ac21', '23fg', '456', '098d','1','kls']
```

`Output:`
```
['456', '23fg', '1ac21', '1', 'kls', '098d']

```

In [18]:
# List in which we need to perform custom sorting
ls = ['1ac21', '23fg', '456', '098d','1','kls']

# Creating multiplication list
mul = []

# Looping through each element to extract numeric elements and then multiplying them and storing them in mul list
for i in ls:

  value = 1

  for j in i:
    if j.isdigit():
      value = value * int(j)

  mul.append(value)

# Arranging answer according to desired result
ans = sorted(list(zip(ls,mul)),key=lambda x:x[1],reverse=True)
ans = [i[0] for i in ans]
# Printing result
print("Ans -> ",ans)

Ans ->  ['456', '23fg', '1ac21', '1', 'kls', '098d']

`Problem 8:` Split String of list on K character.

**Example :**

Input:
```bash
['CampusX is a channel', 'for data-science', 'aspirants.']
```

Output:
```bash
['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']
```

In [21]:
# Input List
ls = ['CampusX is a channel', 'for data-science', 'aspirants.']

# Creating an empty list in which we will be storing our answer
ans = []

# Running a loop on ls so we can extend each element of ls to create out desired result
for i in ls:
  ans.extend(i.split())

# Printing desired output
print(ans)

['CampusX', 'is', 'a', 'channel', 'for', 'data-science', 'aspirants.']

### `Problem 9:` Convert Character Matrix to single String using string comprehension.

**Example 1:**

Input:
```bash
[['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]
```

Output:
```bash
campux is best channel
```

In [25]:
# List which needs to me merged
ls = [['c', 'a', 'm', 'p', 'u', 'x'], ['i', 's'], ['b', 'e', 's', 't'], ['c', 'h', 'a', 'n', 'n', 'e', 'l']]

# Creating our answer
ans = " ".join([" ".join(["".join(i)]) for i in ls])

# Printing the answer
print("Desired output -> ",ans)

Desired output ->  campux is best channel

### `Problem 10:` Add Space between Potential Words.

**Example:**

Input:

```bash
['campusxIs', 'bestFor', 'dataScientist']
```

Output:
```bash
['campusx Is', 'best For', 'data Scientist']
```

In [38]:
# List in which we need to add spaces
ls = ['campusxIs', 'bestFor', 'dataScientist']
ans = []

# Running a loop on ls
for i in ls:

  a = i[0]
  for j in range(1,len(i)):

    if i[j].isupper():
      a = a + " "
      a  = a +  i[j]

    else:
      a = a + i[j]
  ans.append(a)

# Printing answer
print("Output -> ",ans)

Output ->  ['campusx Is', 'best For', 'data Scientist']

### `Problem 11:` Write a program that can perform union operation on 2 lists

**Example:**

Input:

```bash
[1,2,3,4,5,1]
[2,3,5,7,8]
```

Output:
```bash
[1,2,3,4,5,7,8]
```

In [26]:
# Lists from which we we will perform union operation
ls1 = [1,2,3,4,5,1]
ls2 = [2,3,5,7,8]

# Initializing an empty list in which we are going to store our answer
ans = []

# Looping through first list
for i in ls1:
  if i not in ans:
    ans.append(i)

# Looping through second list
for j in ls2:
  if j not in ans:
    ans.append(j)

# Printing desired output
print("Output -> ",ans)

Output ->  [1, 2, 3, 4, 5, 7, 8]

### `Problem 12:` Write a program that can find the max number of each row of a matrix

**Example:**

Input:

```bash
[[1,2,3],[4,5,6],[7,8,9]]
```

Output:
```bash
[3,6,9]
```

In [27]:
# Input List
ls = [[1,2,3],[4,5,6],[7,8,9]]

# Creating output
ans = [max(i) for i in ls]

# Displaying answer
print("Answer -> ",ans)

Answer ->  [3, 6, 9]

### `Problem 13:` Write a list comprehension to print the following matrix

[[0, 1, 2], [3, 4, 5], [6, 7, 8]]

In [34]:
# Creating [[0, 1, 2], [3, 4, 5], [6, 7, 8]] using list comprehension
ans = [[i+j for j in range (3)] for i in range(0,7,3)]

# Displaying output
print("Output -> ",ans)

Output ->  [[0, 1, 2], [3, 4, 5], [6, 7, 8]]

### `Problem 14:` Write a list comprehension that can transpose a given matrix

matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

[1, 4, 7]<br>
[2, 5, 8]<br>
[3, 6, 9]<br>

In [35]:
# Matrix which needs to be transposed
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

# Creating answer
ans = [[matrix[j][i] for j in range(3)] for i in range(3)]

# Printing answer
print("Output -> ",ans)

Output ->  [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

### `Problem 15:` Write a list comprehension that can flatten a nested list

Input<br>
matrix = [<br>
  [1,2,3],<br>
          [4,5,6],<br>
          [7,8,9]<br>]<br>

Output:<br>
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [36]:
# Matrix which needs to be flattened
matrix = [
[1,2,3],
[4,5,6],
[7,8,9]
]

# Creating answer
ans = [j for i in matrix for j in i]

# Printing answer
print("Output -> ",ans)

Output ->  [1, 2, 3, 4, 5, 6, 7, 8, 9]