### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [2]:
# Input Parameter
ls = [1,2,3,3,3,3,4,5]

# Function Definition
def unique(ls):
  """
  This function returns unique elements list from input list
  """

  return list(set(ls))

# Function call
unique(ls)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [4]:
# Input Parameter
s = "green-red-yellow-black-white"

# Function definition
def sorted_string(s):

  """
  This function returns sorted words in a hyphen separated string
  """
  # Sorting words in s
  s = sorted(s.split('-'))

  return "-".join(s)

# Function call
sorted_string(s)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [5]:
# Input Parameter
s = 'CampusX is an Online Mentorship Program fOr EnginEering students'

def case_count(s):

  """
  This function counts all uppercase letters and all lowercase letters in a given string
  """
  upper = 0
  lower = 0

  # Loop to count uppercase letters
  for i in s:
    if i.isupper():
      upper = upper + 1

  # Loop to count lowercase letters
  for i in s:
    if i.islower():
      lower = lower + 1

  print("No of Upper case characters : ",upper)
  print("No of Lower case characters : ",lower)

# Function call
case_count(s)

No of Upper case characters :  8
No of Lower case characters :  48

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [6]:
# Input parameter
s = [1,2,3,4,5,6,7,8,9]

# Function Definition
def even_list(s):

  """
  This function returns all even numbers from given list as arguement
  """
  ans = []

  # Running a loop on list to find which elements are even
  for i in s:
    if i%2 == 0:
      ans.append(i)

  return ans

# Function call
even_list(s)

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [10]:
# Input parameter as input from user
n = int(input("Enter an input number for perfection test -> "))

# Fucntion definition
def perfect_number(s):
  """
  This number tells whether a number is perfect or not . A number is perfect when sum of all of its divisors is the the number itself
  """

  divisors_list = []

  # Running a loop to find all the divisors
  for i in range(1,s):

    if s%i == 0:
      divisors_list.append(i)

  # Doing perfection test
  if sum(divisors_list) == s and (sum(divisors_list) + s)//2 == s:
    print("Perfect Number")

  else:
    print("Not Perfect Number")

# Function call
perfect_number(n)

Enter an input number for perfection test -> 45
Not Perfect Number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [11]:
# Input parameters as dictionary
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

# Function definition
def dictionary_concatenation(*args):

  """
  This function returns a concatenated dictionary made from arguement dictionaries
  """

  d = {}

  # Running a loop to update arguement dictionaries with d
  for i in args:
    if type(i) == dict:
      d.update(i)

  return d

# Function call
dictionary_concatenation(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [17]:
# Input parameter
s = 'hello how are you i am fine thank you'

# Function definition
def most_occurence(s):

  """
  This function returns most occuring element in given list
  """

  d = {}
  for i in s.split():

    if i != ' ':
      if i not in d:
        d[i] = 1
      else:
        d[i] = d[i] + 1

  answer = sorted(d,key=lambda x:d[x],reverse=True)[0]
  print(answer,'->',d[answer])

# Function call
most_occurence(s)

you -> 2

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [61]:
# Input List
s = [13,42,15,37,22,39,41,50]

def hist(s):
  import math
  min_bin = math.floor(min(s)/10)*10
  max_bin = math.ceil(max(s)/10)* 10

  # Initializing an empty dictionary for creating histogram
  histogram = {}

  # Running a loop on list to find which element belongs to which bin
  for i in range(min_bin,max_bin,10):

    # Frequency count for each variable
    count = 0
    for j in s:
      if j > i+1 and j < i+10:
        count = count +1

    histogram[str(i+1) + '-' + str(i+10)] = count

  # Displaying the histogram
  print(histogram)

# Function call
hist(s)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 1}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [22]:
# Input Parameter
s = [(1,1),(2,2),(3,3),(4,4)]
point = (0,0)

# Function Definition
def closest_point(s,point):

  """
  This point returns closest point from the given point from a list of points
  """

  # Initializing an empty list which will contain all the distances
  distances = []

  # Running a loop to find out distances
  for i in s:
    distances.append(((i[1]-point[1])**2 + (i[0]-point[0])**2)**0.5)

  distances = list(enumerate(distances))

  p = s[sorted(distances,key=lambda x:x[1])[0][0]]

  # Returning point
  return p

# Function call
closest_point(s,point)

(1, 1)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [23]:
# Input parameters
s1 = 'krishna is true love'
s2 = 'krishna bkahti is best in this world'

# Function Definition
def bag_of_words(*args):

  """
  This function creates a bag of words list from given sentences
  """

  bag_of_words_list = []

  for i in args:
    for j in i.split():
      if j not in bag_of_words_list:
        bag_of_words_list.append(j)


  # Returning bag_of_words_list
  return bag_of_words_list

# Function call
bag_of_words(s1,s2)

['krishna', 'is', 'true', 'love', 'bkahti', 'best', 'in', 'this', 'world']

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [63]:
# Input Lists
l1 = [1,2,3]
l2 = [4,5,6]
l3 = [7,8,9]

# Function Definition
list(map(lambda x,y,z : x+y+z, l1,l2,l3))

[12, 15, 18]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [50]:
# Input List as arguement
list1 = [1,2,3,4,5,6]

# Using enumerate to convert list in required format
list1 = enumerate(list1)

# Using list comprehension to create list
ans = list(map(lambda x:x[1]**x[0],list1))

# Displaying result
print(ans)

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [47]:
# Input string
s = 'krishna is true love'

# Coding filter function to get all the vowels
list(filter(lambda x:x.lower() in 'aeiou',s))

['i', 'a', 'i', 'u', 'e', 'o', 'e']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [46]:
# Input 2D list
s = [[1,2,3],
     [4,5,6],
     [7,8,9]]

# Importing functools to use reduce function
import functools
functools.reduce(lambda x,y:x+y,s)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [41]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [45]:
# Function definition
list(map(lambda x:x['fname'] + '-' + x['lname'],list(filter(lambda x:x['grade'] == 'highly-skilled',employees))))

['Neha-Singh', 'Abhinav-Sharma']